@page "/videos/{Slug}"
@inject IStringLocalizer<Resource> Localize

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <NavLink href="@($"/videos")"><i class="fas fa-video"></i> @Localize["Videos"]</NavLink>
        </li>
    </ol>
</nav>

<div class="jumbotron">
    <div class="media">
        <div class="media-body ml-3">
            <h1 class="h3 media-heading">@Channel?.Name</h1>
            <RichText Text="@Channel?.Description" ParentObject="@Channel" />
            @if (CanEditChannel)
            {
                <NavLink href=@($"/videos/channel/edit/{Channel?.Slug}") class="btn btn-primary btn-sm mb-2 mr-2">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    @Localize["Edit"]
                </NavLink>
            }
        </div>
    </div>
</div>

@if (CanAddVideo)
{
    <NavLink href="@($"/video/new/{Channel?.Slug}")" class="btn btn-primary btn-sm mb-3 mr-2">
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        @Localize["New Video"]
    </NavLink>
}

@{
    if (Videos != null)
    {
        <div class="d-flex flex-wrap">
            @foreach (var node in Videos.Data)
            {
                var video = Models.Video.Create(node);
                <VideoCard Video="video" />
            }
        </div>
    }
}

