@page "/blog/post/{Slug}"
@inject IStringLocalizer<Resource> Localize

<PageTitle Title=@($"{Post?.Title} | {Blog?.Name}") />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <NavLink href="@($"/blogs")"><i class="fa fa-pencil-square-o"></i> @Localize["Blogs"]</NavLink>
            / <NavLink href="@($"/blog/{Blog?.Slug}")">@Blog?.Name</NavLink>
        </li>
    </ol>
</nav>

<div class="jumbotron">
    <h1 class="h3">@Post?.Title</h1>
    <Created CreatedBy="@Post?.CreatedBy" CreatedDate="@Post?.CreatedDate" />
    @if (CanEditPost)
    {
        <div class="btn-group">
            <NavLink href="@($"/blog/post/edit/{Post?.Slug}")" class="btn btn-primary btn-sm mt-2 mb-2 mr-2">
                <i class="fas fa-pencil-alt"></i>
                @Localize["Edit"]
            </NavLink>
        </div>
    }
    @if (CanDeletePost)
    {
        <a href="javascript:;"
           @onclick="Delete"
           class="btn btn-danger btn-sm mt-2 mb-2 mr-2">
            <i class="fas fa-trash-alt"></i> @Localize["Delete"]
        </a>
    }
</div>

<Modal @ref="ConfirmModal"
       Title="@Localize["Delete Post"]"
       Text="@Localize["Do you want to delete this post?"]"
       ConfirmButtonText="@Localize["Delete"]"
       CancelButtonText="@Localize["Cancel"]"
       OnConfirm="DeleteConfirmedAsync" />

<div class="card shadow mb-3">
    <div class="card-body">
        <RichText Text="@Post?.Content" ParentObject="@Post" />
    </div>
</div>