@page "/videos/"
@inject IStringLocalizer<Resource> Localize

<PageTitle Title="@Localize["Videos"]" />

<div class="jumbotron">
    <h1 class="h3"><i class="fas fa-video"></i> @Localize["Videos"]</h1>
    <RichText Text="@Config.Content" ParentObject="@Config" />
    @if (CanEditConfig)
    {
        <NavLink href="/articles/config/edit" class="btn btn-primary btn-sm mt-2 mb-2 mr-2">
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            @Localize["Edit"]
        </NavLink>
    }
</div>

@if (CanAddChannel)
{
    <div class="btn-group">
        <NavLink href="/videos/channel/new" class="btn btn-primary btn-sm mt-2 mb-2 mr-2">
            <i class="fas fa-plus" aria-hidden="true"></i>
            @Localize["New Channel"]
        </NavLink>
    </div>
}

@{
    if (Channels != null && Channels.Data != null)
    {
        <div class="d-flex flex-wrap">
            @{
                foreach (var node in Channels.Data)
                {
                    var channel = Models.Channel.Create(node);
                    <ChannelCard Channel="channel" />
                }
            }
        </div>
    }
}
