@page "/forum/topic/new/{Slug}"
@inject IStringLocalizer<Resource> Localize

<PageTitle Title="@Localize["New Topic"]" />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <NavLink href="/forums"><i class="fa fa-comments"></i> @Localize["Forums"]</NavLink> /
            <NavLink href=@($"/forum/{Forum?.Name}")>
                @Forum?.Title
            </NavLink>
        </li>
    </ol>
</nav>

<div class="card shadow mb-3">
    <div class="card-body container">
        <h2 class="h4">@Localize["New Topic"]</h2>

        <EditForm class="mt-4" OnValidSubmit="SubmitAsync" Model="@Topic">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group row col-md-10">
                <InputText class="form-control"
                           @bind-Value="@Topic.Title"
                           placeholder="Title" />
                <ValidationMessage For="@(() => Topic.Title)" />
            </div>
            <div class="form-group row col-md-10">
                <InputText class="form-control"
                           @bind-Value="@Topic.Link"
                           placeholder="Link (optional)" />
                <ValidationMessage For="@(() => Topic.Link)" />
            </div>
            <div class="form-group row col-md-10">
                <InputTextArea class="form-control"
                               rows="@Topic.Content.StringToRows(4)"
                               @bind-Value="@Topic.Content"
                               placeholder="Text" />
                <ValidationMessage For="@(() => Topic.Content)" />
            </div>
            <div class="form-group row col-md-10">
                <NavLink href=@($"/forum/{Forum?.Slug}") class="btn btn-danger btn-sm mt-2 mb-2 mr-2">
                    <i class="fa fa-times" aria-hidden="true"></i> @Localize["Cancel"]
                </NavLink>
                <button type="submit" class="btn btn-success btn-sm mt-2 mb-2 mr-2" value="save">
                    <i class="fa fa-check" aria-hidden="true"></i> @Localize["Save"]
                </button>
            </div>
        </EditForm>
    </div>
</div>
