@page "/video/{Id}"
@inject IStringLocalizer<Resource> Localize

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <NavLink href="/videos"><i class="fas fa-video"></i> @Localize["Videos"]</NavLink>
            /
            <NavLink href="@($"/videos/{Channel?.Slug}")">@Channel?.Name</NavLink>
        </li>
    </ol>
</nav>

<h1 class="h3">@Video?.Title</h1>

@if (CanEditVideo)
{
    <NavLink href="@($"/video/edit/{Video?.Id}")" class="btn btn-primary btn-sm mt-2 mb-2 mr-2">
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        @Localize["Edit"]
    </NavLink>
}
@if (CanDeleteVideo)
{
    <NavLink href="@($"/video/edit/{Video?.Id}")" class="btn btn-primary btn-sm mt-2 mb-2 mr-2">
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        @Localize["Delete"]
    </NavLink>
}

<div class="text-center">
    <div class="col-md-12 vid">
        <iframe width="560"
                height="315"
                src="@Video?.EmbedUrl"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</div>