@page "/video/new/{Slug}"
@inject IStringLocalizer<Resource> Localize

<PageTitle Title="@Localize["New Video"]" />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <NavLink href="/videos"><i class="fas fa-video"></i> @Localize["Videos"]</NavLink>
            /
            <NavLink href="@($"/videos/{Channel.Slug}")">@Channel.Name</NavLink>
        </li>
    </ol>
</nav>

<div class="card shadow mt-2 mb-2">
    <div class="card-body container">
        <h2 class="h4">@Localize["New Video"]</h2>

        <EditForm class="mt-4" OnValidSubmit="SubmitAsync" Model="@Video">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group row col-md-10">
                <InputText class="form-control"
                           @bind-Value="Video.Url"
                           placeholder="@Localize["Url"]" />
                <ValidationMessage For="@(() => Video.Url)" />
            </div>
            <div class="form-group row col-md-10">
                <InputCheckbox class="form-control"
                           @bind-Value="SetAsChannelThumbnail"
                           placeholder="@Localize["Set As Channel Thumbnail"]" />
                <ValidationMessage For="@(() => SetAsChannelThumbnail)" />
            </div>
            <div class="form-group row col-md-10">
                <NavLink href=@($"/videos/{Channel.Slug}")
                         class="btn btn-danger btn-sm mt-2 mb-2 mr-2">
                    <i class="fa fa-times" aria-hidden="true"></i> @Localize["Cancel"]
                </NavLink>
                <button type="submit" ref="createButton" id="btnSave" class="btn btn-success btn-sm mt-2 mb-2 mr-2" value="save">
                    <i class="fa fa-check" aria-hidden="true"></i> @Localize["Save"]
                </button>
            </div>
        </EditForm>
    </div>
</div>
