@page "/forums"
@inject IStringLocalizer<Resource> Localize

<PageTitle Title="@Localize["Forums"]" />

<div class="jumbotron">
    <h1 class="h3"><i class="fas fa-comments"></i> @Localize["Forums"]</h1>
    <RichText Text="@Config.Content" ParentObject="@Config" />
    @if (CanEditConfig)
    {
        <NavLink href="/articles/config/edit" class="btn btn-primary btn-sm mt-2 mb-2 mr-2">
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            @Localize["Edit"]
        </NavLink>
    }
</div>

@if (CanAddForum)
{
    <div class="btn-group">
        <NavLink href="/forum/new" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            @Localize["New Forum"]
        </NavLink>
    </div>
}

@if (Forums == null)
{
    <Loading />
}
else
{
    @foreach (var forum in Forums.Items())
    {
        <div class="card shadow mt-2 mb-2">
            <div class="card-body">
                <p class="card-text">
                    <NavLink href=@($"/forum/{forum.Slug}")>@forum.Title</NavLink>.
                    @forum.Content [@forum.ChildCount @Localize["entries"]]
                </p>
            </div>
        </div>
    }
}
