@page "/forum/{Slug}"
@inject IStringLocalizer<Resource> Localize

<PageTitle Title="@Forum?.Title" />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <NavLink href="@($"/forums/{Forum?.Path}")"><i class="fa fa-comments"></i> @Localize["Forums"]</NavLink>
            @{ 
                if (ParentForum != null)
                {
                    <span> / 
                        <NavLink href=@($"/forum/{ParentForum.Slug}")>
                            @ParentForum.Title
                        </NavLink>
                    </span>
                }
            }
        </li>
    </ol>
</nav>

<div class="jumbotron">
    <h1 class="h3">@Forum?.Title</h1>
    <RichText Text="@Forum?.Content" ParentObject="@Forum" />
    @if (CanEditForum)
    {
        <NavLink href=@($"/forum/edit/{Forum?.Slug}") class="btn btn-primary btn-sm mt-2 mb-2 mr-2">
            <i class="fas fa-pencil-alt"></i> Edit
        </NavLink>
    }
    @if (CanDeleteForum)
    {
        <a href="javascript:;"
           @onclick="Delete"
           class="btn btn-danger btn-sm mt-2 mb-2 mr-2">
            <i class="fas fa-trash-alt"></i> @Localize["Delete"]
        </a>
    }
</div>

<Modal @ref="ConfirmModal"
       Title="@Localize["Delete Forum"]"
       Text="@Localize["Do you want to delete this forum?"]"
       ConfirmButtonText="@Localize["Delete"]"
       CancelButtonText="@Localize["Cancel"]"
       OnConfirm="DeleteConfirmedAsync" />

@if (CanAddForum)
{
    <NavLink href=@($"/forum/new/{Forum?.Id}") class="btn btn-primary btn-sm mt-2 mb-2 mr-2">
        <i class="fas fa-plus"></i>
        @Localize["New Forum"]
    </NavLink>
}

@if (Forums == null)
{
    <Loading />
}
else
{
    @foreach (var forum in Forums.Items())
    {
        <div class="card shadow mt-2 mb-2">
            <div class="card-body">
                <p class="card-text">
                    <NavLink href=@($"/forum/{forum.Name}")>@forum.Title</NavLink>.
                    @forum.Content [@forum.ChildCount @Localize["subforums/topics"]]
                </p>
            </div>
        </div>
    }
}

@if (CanAddTopic)
{
    <NavLink href=@($"/forum/topic/new/{Forum?.Slug}")
                type="button"
                class="btn btn-primary btn-sm mt-2 mb-2 mr-2">
        <i class="fas fa-plus"></i>
        @Localize["New Topic"]
    </NavLink>
}

@{
    if ((Topics != null) && (Topics.Items().Count() > 0))
    {
        <div class="card shadow mt-2 mb-2">
            <div class="card-body">
                <table class="table" style="margin-bottom: 0px;">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-md-9 col-sm-9">@Localize["Topic"]</th>
                            <th class="col-md-2 col-sm-2">@Localize["Started"]</th>
                            <th class="col-md-1 col-sm-1">@Localize["Posts"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var topic in Topics.Items())
                            {
                                <tr class="d-flex">
                                    <td class="col-md-9 col-sm-9">
                                        <p>
                                            <strong>
                                                <NavLink href=@($"/forum/topic/{topic.Id}")>@topic.Title</NavLink>
                                            </strong>
                                            <br />
                                            @topic.Content
                                        </p>
                                    </td>
                                    <td class="col-md-2 col-sm-2">
                                        <NavLink href=@($"/forum/topic/{topic.Id}")>
                                            <FromNow Date="@topic.CreatedDate" />
                                        </NavLink>
                                    </td>
                                    <td class="col-md-1 col-sm-1">
                                        <NavLink href=@($"/forum/topic/{topic.Id}")>
                                            @topic.PostCount
                                        </NavLink>
                                    </td>
                                </tr>
                            }

                            if (Topics.ShowNext)
                            {
                                <tr>
                                    <a href="javascript:;"
                                        @onclick="Topics.NextAsync"
                                        class="btn btn-primary">
                                        @Localize["More Topics"]
                                    </a>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
